body {
    text-align: center;
    background-color: #fb8a2e;
}

#button1,
#button2 {
    background-color: white;
    border: 1px solid black;
    font-size: 1.3em;
    border-radius: 4px;
    box-shadow: 1.5px 2.5px 5px black;
    transition: transform 0.2s;
}

#button1:focus,
#button2:focus {
    outline: 0;
}

#button1:hover,
#button2:hover {
    background-color: black;
    color: white;
    border: 1px solid white;
    transform: scale(.95);
}

p {
    font-size: 0.7em;
}

#heart {
    color: red;
}